// .about-me {
//     padding: 75px 0;
//     display: flex;
//     background-color: $secondary;
//     justify-content: flex-end;
//     .about-images,
//     .about-content {
//         width:40%;
//     }

//     .about-images {
//         display: flex;
//         .about-img {
//             width:50%;
//         }
//     }
// }

#about{
    background-color: $secondary;
}

.about-content {
    display: flex;
    justify-content: space-between;
    .about-images {
        width:40%;
        // display: grid;
        // grid-template-columns: 25% 25% 25% 25% 25%;
        // grid-template-rows: 25% 25% 25% 25%;
        // grid-column-gap:10px;
        // grid-row-gap:10px;
        // justify-items: center;

        .about-img {
            width:100%;
            margin: 0 auto;
            height:85%;
            background: url(../assets/about-image.jpg) center/ cover no-repeat;
            box-shadow: -20px -20px 0px 0px $primaryDark;
        }
        // .about-img:first-child {
        //     background: url(../assets/about-image.jpg) center/ cover no-repeat;
        //     box-shadow: -15px -15px 0px 0px $contrast;
        //     grid-column-start: 1;
        //     grid-column-end: span 3;
        //     grid-row-start: 2;
        //     grid-row-end: span 3;
            
        // }
        // .about-img:nth-child(2) {
        //     background: url(../assets/about-image2.jpg) center/ cover no-repeat;
        //     grid-column-start: 2;
        //     grid-row-start: 1;
        //     grid-row-end: span 2;
        //     box-shadow: 15px -15px 0px 0px $primaryDark;
            
        // }

        // .about-img:last-child {
        //     background: url(../assets/about-image3.jpg) center/ cover no-repeat;
        //     grid-column-start: 2;
        //     grid-row-start: 3;
        //     grid-row-end: span 2;
        //     box-shadow: 15px 15px 0px 0px $contrast;
            
        // }
        // display:flex;
        // flex-wrap: wrap;
        // justify-content: flex-end;
        // align-items: center;
        // .about-img {
        //     width:50%;
        //     background-color:lavender;
        // }
        // .about-img:first-child {
        //     width: 50%;
        //     align-self: stretch;
            
        // }
    }
    .about-text {
        width:55%;
    }

    // .about-img img {
    //     border-radius: 50%;
    //     border: 3px solid $primaryDark;
    // }
}