#about{
    background-color: $secondary;
}

.about-content {
    display: flex;
    justify-content: space-between;
    .about-images {
        width:40%;
        min-height: 500px;
        .about-img {
            width:100%;
            margin: 0 auto;
            height:85%;
            background: url(../assets/about-image.jpg) center/ cover no-repeat;
            box-shadow: -20px -20px 0px 0px $primaryDark;
        }
    }
    .about-text {
        width:55%;
        position: relative;
        top: -15px;
    }
}