body {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    width:80%;
    margin: 0 auto;
    max-width:1200px;
    margin-right: 0;
    z-index: 100000;
}

.inner-wrapper {
    width:95%;
    margin: 0 auto;
}
main {
    width:100%;
    max-width: 100%;
}

section {
    padding: 75px 0;
}
ul, 
li, 
img,
h1,
h3,
p {
    margin:0;
	padding:0;
}

img {
	width: 100%;
	max-width:100%;
}

ul, 
li {
	list-style-type: none;
}

a {
    color: $text;
    text-decoration: none;
}

h3 {
    text-align: center;
    margin: 25px auto;
}