body {
    max-width: 1500px;
    margin: 0 auto;
}

.wrapper {
    width:74%;
    // border: 3px solid blue;
    margin: 0 auto;
    max-width:1200px;
    margin-right: 5%;
    z-index: 100000;
}

// .inner-wrapper {
//     width:95%;
//     margin: 0 auto;
//     border: 3px solid red;
// }
main {
    width:100%;
    max-width: 100%;
}

section {
    padding: 75px 0;
}
ul, 
li, 
img,
h1,
h3,
p {
    margin:0;
	padding:0;
}

img {
	width: 100%;
	max-width:100%;
}

ul, 
li {
	list-style-type: none;
}

a {
    color: $text;
    text-decoration: none;
}

h3 {
    text-align: center;
    margin: 25px auto;
    margin-bottom: 40px;
}