header {
    width:100%;
    height: 100vh;
    background-color: $secondary;
    position: relative;
    overflow: hidden;
}

.header-bg {
    width: 100%;
    &::before {
        content:"";
        position: absolute;
        left:20%;
        clip-path: polygon(5% 0%, 80% 0%, 52% 100%, 30% 100%);
        height: 100%;
        width: 50%;
        background-color: $primaryDark;
        opacity: 0;
        animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
        animation-delay: .9s;
        z-index: 10;
    }

    &::after { 
        content:"";
        position: absolute;
        left:50%;
        clip-path: polygon(56% 0, 100% 0, 100% 100%);
        height: 100%;
        width: 50%;
        background-color: $secondary;
        opacity: 0;
        animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
        animation-delay: 1s;
        z-index: 10;
    }
    span {
        display: block;
        &::after { 
        content:"";
        position: absolute;
        left:40%;
        clip-path: polygon(30% 0, 100% 0%, 100% 100%, 10% 100%);
        height: 100%;
        width: 60%;
        background-color: $primaryLight;
        opacity: 0;
        animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
        animation-delay: 1.2s;
        z-index: 10;
        }
    }
}

.header-main {
    width:100%;
    height: 100vh;
    position: relative;
    .header-intro {
        width:50%;
        z-index:400;
        position: absolute;
        left: 28%;
        bottom: 40%;
    }
    .header-image {
        width: 35%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index:400;
        img {
            vertical-align: bottom;
        }
    }
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    li {
        margin-right:15px;
    }
    li:last-child {
        margin-right:0;
    }
}
