html {
    font-size: 125%;
}

// Fonts
$font-size-base:    20;

$font-size-xl:      35;
$font-size-lg:      30;
$font-size-md:      24;
$font-size-sm:      18;


@mixin displayFont ($sizeValue) {
    color: $text;
    letter-spacing: 0.5px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    line-height: 1.2;
}

@mixin headingFont ($sizeValue) {
    color: $text;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    line-height: 1;
}

@mixin bodyFont ($sizeValue) {
    color: $text;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

@mixin icons ($sizeValue) {
    font-size: ($sizeValue/20) * 1rem;
}

@mixin lowHighlight ($color) {
    padding: 0 6px;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $color 50%);
}

body {
    @include bodyFont ($font-size-base);
}


.logo {
    @include displayFont($font-size-xl);
    color: $text;
    span {
        color: $contrast;
    }
}

h1 {
    @include bodyFont(40);
    font-weight: 700;
    line-height: 1;
    span {
        @include lowHighlight($secondary)
    }
}

.tagline {
    @include bodyFont(36);
    font-weight: 700;
    line-height: 1;
    span {
        @include displayFont(36);
    }
}

.social-icons {
    @include icons ($font-size-lg);
}

h3 {
    @include displayFont($font-size-lg);
    span {
        color: $contrast;
    }
}

h4 {
    @include bodyFont($font-size-md);
    font-weight: 500;
    margin:0;
}

.space-attack h4 {
    display: inline;
    @include lowHighlight($primaryDark);
}