// Colors

$primaryLight: #f0f5f7;
$primaryDark: #e1eef6;
$secondary: #f0e5de;
$contrast: #8283a7;
$text: #282c37;
$white: #f0f5f7;
$black: #252525;



// Mixins
@mixin alignment ($flex-direction, $justify-content, $align-items, $text-align) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin colors ($color, $background-color) {
    color:$color;
    background-color:$background-color;
}