article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

.wrapper {
  width: 74%;
  margin: 0 auto;
  max-width: 1200px;
  margin-right: 5%;
  z-index: 100000;
}

main {
  width: 100%;
  max-width: 100%;
}

section {
  padding: 75px 0;
}

ul,
li,
img,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

a {
  color: #282c37;
  text-decoration: none;
}

h3 {
  text-align: center;
  margin: 25px auto;
  margin-bottom: 40px;
}

html {
  font-size: 125%;
}

body {
  color: #282c37;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.logo {
  color: #282c37;
  letter-spacing: 0.5px;
  font-size: 1.75rem;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  line-height: 1.2;
  color: #282c37;
}

.logo span {
  color: #8283a7;
}

h1 {
  color: #282c37;
  letter-spacing: 0.5px;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  line-height: 1.2;
  font-weight: 700;
  line-height: 1;
}

h1 span {
  padding: 0 6px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #f0e5de));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #f0e5de 50%);
}

.tagline {
  color: #282c37;
  font-size: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-weight: 700;
  line-height: 1;
}

.tagline span {
  color: #282c37;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  line-height: 1.2;
}

.social-icons {
  font-size: 1.5rem;
}

h3 {
  color: #282c37;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  line-height: 1.2;
}

h3 span {
  color: #8283a7;
}

h4 {
  color: #282c37;
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  display: inline;
  font-weight: 500;
  margin: 0;
}

.project-skills,
.project-links {
  font-weight: 500;
}

.contact-content h4 {
  color: #282c37;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  line-height: 1.2;
}

.contact-content form {
  text-transform: lowercase;
}

header {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  background: url(../assets/header-bg.jpg) center/cover no-repeat;
}

.header_main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  max-height: 1000px;
  position: relative;
}

.header_main-content .header-text {
  width: 50%;
  z-index: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 25px;
}

.header_main-content .header-image {
  width: 50%;
  z-index: 400;
  position: absolute;
  right: -6.8%;
}

.header_main-content .header-image img {
  vertical-align: bottom;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
}

.social-icons li {
  margin-right: 15px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.sidebar {
  width: 22%;
  max-width: 500px;
  position: fixed;
  z-index: 10;
  height: 100vh;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding: 25px;
  background-color: #f0f5f7;
  z-index: 10;
}

nav .logo {
  margin-bottom: 20px;
}

nav li {
  margin: 15px 0;
}

.sidebar {
  width: 22%;
  height: 100%;
  position: fixed;
}

.sidebar .top,
.sidebar .triangle {
  display: block;
}

.sidebar .top {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  background-color: #f0f5f7;
  position: absolute;
  top: 0;
  z-index: -5;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.sidebar .triangle {
  width: 120%;
  height: 100%;
  max-height: 1000px;
  background-color: #e1eef6;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
          clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}

#about {
  background-color: #f0e5de;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content .about-images {
  width: 40%;
  min-height: 500px;
}

.about-content .about-images .about-img {
  width: 100%;
  margin: 0 auto;
  height: 85%;
  background: url(../assets/about-image.jpg) center/cover no-repeat;
  -webkit-box-shadow: -20px -20px 0px 0px #e1eef6;
          box-shadow: -20px -20px 0px 0px #e1eef6;
}

.about-content .about-text {
  width: 55%;
  position: relative;
  top: -15px;
}

.portfolio-items {
  position: relative;
  z-index: 10;
}

.portfolio-items > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin: 50px auto;
  padding: 20px;
}

.project-image {
  width: 40%;
}

.project-info {
  width: 58%;
}

.project-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-skills ul li {
  padding: 0 8px;
  margin: 10px 10px 10px 0;
}

.project-links ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

.project-links ul li:first-child {
  margin-right: 20px;
}

.space-attack,
.captured {
  background-color: #f0f5f7;
  -webkit-box-shadow: 20px 20px 0px 0px #e1eef6;
          box-shadow: 20px 20px 0px 0px #e1eef6;
}

.space-attack h4,
.captured h4 {
  padding: 0 6px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #e1eef6));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #e1eef6 50%);
}

.space-attack .project-skills li,
.captured .project-skills li {
  background-color: #e1eef6;
}

.next-on-shuffle,
.tv-watchers {
  background-color: #FCF4EF;
  -webkit-box-shadow: 20px 20px 0px 0px #f0e5de;
          box-shadow: 20px 20px 0px 0px #f0e5de;
}

.next-on-shuffle h4,
.tv-watchers h4 {
  padding: 0 6px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #f0e5de));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #f0e5de 50%);
}

.next-on-shuffle .project-skills li,
.tv-watchers .project-skills li {
  background-color: #f0e5de;
}

.whats-for-dinner {
  background-color: #DFDFED;
  -webkit-box-shadow: 20px 20px 0px 0px #CCCCE0;
          box-shadow: 20px 20px 0px 0px #CCCCE0;
}

.whats-for-dinner h4 {
  padding: 0 6px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #CCCCE0));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #CCCCE0 50%);
}

.whats-for-dinner .project-skills li {
  background-color: #CCCCE0;
}

.skills {
  background: #CCCCE0;
}

.skills .filter-controls {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .filter-controls li {
  line-height: 1;
  padding: 0 5px;
}

.skills .filter-controls li:nth-of-type(2) {
  border-right: 2px solid #282c37;
  border-left: 2px solid #282c37;
}

.skills-container {
  background: #DFDFED;
  -webkit-box-shadow: 20px 20px 0px 0px #8283a7;
          box-shadow: 20px 20px 0px 0px #8283a7;
  padding: 20px;
}

.skills-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container ul li {
  text-align: center;
  width: 125px;
}

.skills-container ul li i {
  font-size: 70px;
}

.skills-container ul li p {
  margin-top: 5px;
}

.skills-container ul li svg {
  fill: #282c37;
  width: 65px;
}

.contact {
  background: linear-gradient(45deg, #f0e5de 0%, #f0e5de 50%, #e1eef6 50%, #e1eef6 100%);
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 20px 20px 0px 0px #282c37;
          box-shadow: 20px 20px 0px 0px #282c37;
}

.contact-content .contact-info {
  width: 45%;
}

.contact-content .contact-info p {
  margin-top: 10px;
}

.contact-content form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-content form input,
.contact-content form textarea {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #282c37;
  padding: 8px 0;
}

.contact-content form input::-webkit-input-placeholder,
.contact-content form textarea::-webkit-input-placeholder {
  color: #282c37;
  opacity: 0.9;
}

.contact-content form input:-ms-input-placeholder,
.contact-content form textarea:-ms-input-placeholder {
  color: #282c37;
  opacity: 0.9;
}

.contact-content form input::-ms-input-placeholder,
.contact-content form textarea::-ms-input-placeholder {
  color: #282c37;
  opacity: 0.9;
}

.contact-content form input::placeholder,
.contact-content form textarea::placeholder {
  color: #282c37;
  opacity: 0.9;
}

.contact-content form button {
  color: #fff;
  background-color: #282c37;
  border: none;
  margin-top: 5px;
  padding: 10px;
}

footer {
  background-color: #282c37;
  padding: 10px;
}

footer p {
  color: #fff;
  text-align: center;
}

.portfolio {
  position: relative;
  height: 100%;
}

.particles {
  background-color: transparent;
  position: absolute;
  top: -100px;
  z-index: 0;
  height: 110%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */