article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body,
.wrapper,
.header-background {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 85%;
}

ul,
li,
img,
h1,
h3 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

a {
  color: #282c37;
  text-decoration: none;
}

html {
  font-size: 125%;
}

nav ul li {
  color: #282c37;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}

.logo {
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #282c37;
  line-height: 1.2;
  letter-spacing: 2px;
}

.logo span {
  color: #8283a7;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #f0e5de;
  position: relative;
  overflow: hidden;
}

.header-bg {
  width: 100%;
}

.header-bg::before {
  content: "";
  position: absolute;
  left: 20%;
  -webkit-clip-path: polygon(5% 0%, 80% 0%, 52% 100%, 30% 100%);
          clip-path: polygon(5% 0%, 80% 0%, 52% 100%, 30% 100%);
  height: 100%;
  width: 50%;
  background-color: #e1eef6;
  opacity: 0;
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.header-bg::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-clip-path: polygon(56% 0, 100% 0, 100% 100%);
          clip-path: polygon(56% 0, 100% 0, 100% 100%);
  height: 100%;
  width: 50%;
  background-color: #f0e5de;
  opacity: 0;
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.header-bg span {
  display: block;
}

.header-bg span::after {
  content: "";
  position: absolute;
  left: 40%;
  -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 100%, 10% 100%);
          clip-path: polygon(30% 0, 100% 0%, 100% 100%, 10% 100%);
  height: 100%;
  width: 60%;
  background-color: #f0f5f7;
  opacity: 0;
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
}

.sidebar-bg {
  display: block;
}

.sidebar-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-top: 600px solid #f0f5f7;
  border-left: 0px solid transparent;
  border-right: 120px solid transparent;
  height: 0;
  width: 200px;
  z-index: -10;
  opacity: 0;
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
}

.sidebar-bg::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 375px 0 0 400px;
  border-color: transparent transparent transparent #e1eef6;
  z-index: -10;
  opacity: 0;
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

/* Animations */
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(0.8);
            transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(0.8);
            transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
}

@keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
}

nav {
  width: 70%;
  margin: 25px auto;
}

nav ul li {
  margin: 15px 0;
}
/*# sourceMappingURL=style.css.map */